<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel De Currency</title>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <nav class="navbar nav-justified navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#luxury">Luxury</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#restaurant_bar">Restaurant & Bar</a>
        </li>
        <li style="margin-left: 200px;">
        <li class="nav-item" id="navbar-logo">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/logo.png" alt="">
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hotel_facilities">Facilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="landing">
    <div class="landing-contents">
      <div class="contents">
        <span>Book a room</span>
        <h1>For your holidays & relaxation</h1>
        <div class="booking">
          <div class="tabs">
            <div class="item tab-active">
              <p>Lodging</p>
            </div>
          </div>
          <form id="bookingForm" novalidate method="POST" autocomplete="off">
            <div class="booking-container">
              <div class="item">
                <p>Check-in</p>
                <div class="input-group date" id="checkIn">
                  <input type="text" required data-parsley-required name="checkInDate" id="checkInDate"
                    class="form-control">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
              <div class="item" id="checkOutDate">
                <p>Check-out</p>
                <div class="input-group date" id="checkOut">
                  <input type="text" id="checkOutDate" name="checkOutDate" class="form-control">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <p>Adults</p>
                <input type="number" required data-parsley-required data-parsley-type="number" id="adults"
                  class="form-control">
              </div>
              <div class="item">
                <p>Children</p>
                <input type="number" required data-parsley-required data-parsley-type="number" id="children"
                  class="form-control">
              </div>
              <div class="item">
                <button type="button" class="custom-btn" data-toggle="modal" data-target="#continueModal">
                  Make reservation
                </button>
              </div>
              <div class="modal fade" id="continueModal" tabindex="-1" role="dialog" aria-labelledby="continueModal"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Personal Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required data-parsley-required class="form-control"
                          placeholder="Enter your name" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Eg: John Doe</small>
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                          placeholder="Enter your email address" required data-parsley-required
                          data-parsley-type="email">
                        <small id="emailHelpId" class="form-text text-muted">Eg: johndoe@gmail.com</small>
                      </div>
                      <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" name="phone" id="phone" class="form-control"
                          placeholder="Enter your phone number" aria-describedby="helpId" required data-parsley-required
                          data-parsley-type="number">
                        <small id="helpId" class="text-muted">234XXXXXX</small>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="submitBtn" class="custom-btn">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" id="#features">
    <div class="welcome">
      <div class="welcome-header">
        <h1>
          <span>Welcome to</span>
          hotel de currency
        </h1>
        <span>About Us</span>
        <p id="welcome_text">
          Our hotel focuses on individual business and leisure travelers. We emphasis high quality standards in our
          rooms and food and beverages divisions with well trained, motivated and enthusiastic employees. We are
          committed to Excellence.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/images/24Hrs.jpg" alt="hotel pic">
          <div class="content">
            <h3>24 hours fast service</h3>
            <p>Here at HotelDeCurrency, we provide 24hours electricity, security and our kitchen runs all day and night.
            </p>
            <button class="custom-btn">learn more</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content">
            <h3>Most Affrodable Hotel</h3>
            <p>HotelDeCurrency is Sango and Ota Environs most popular hotel. We offer our clients a wonderful blend of
              work and leisure services, with eating and entertainment alternatives carefully interwoven in one amazing
              venue, located in the center of Ota, Ogun State. All of this is topped off with services that are up to
              international standards.</p>
            <button class="custom-btn">learn more</button>
          </div>
          <img src="/assets/img/images/wardrobe.jpg" alt="maid pic">
        </div>
      </div>
    </div>
  </section>


  <section class="container-fluid" id="luxury">
    <div class="luxury">
      <div class="row">
        <div class="col-md-3">
          <h1>Choose your luxury</h1>
          <p>Each of our guest rooms is well equipped with standard facilities and some have industrial views. Our
            state-of-the-art quiet air conditioning systems and blackout drapes can help you have a good night's sleep.
          </p>
          <!-- <button class="custom-btn-white">view all rooms</button> -->
        </div>
        <div class="col-md-9">
          <div class="flex-container">
            <div class="item">
              <img src="/assets/img/images/room1.jpg" alt="luxurious bed">
              <!-- <button class="custom-btn-white">Make Reservation</button> -->
            </div>
            <div class="item">
              <img src="/assets/img/images/room2.jpg" alt="luxurious bed">
              <!-- <button class="custom-btn-white">Make Reservation</button> -->
            </div>
            <div class="item">
              <img src="/assets/img/images/room3.jpg" alt="luxurious bed">
              <!-- <button class="custom-btn-white">Make Reservation</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" id="restaurant_bar">
    <div class="restaurant_bar">
      <div class="row">
        <div class="col-md-3">
          <h1>Restaurant & Bar</h1>
          <p>Our Restaurant is an awesome dining experience that takes you on a gourmet adventure. The Bar and Lounge
            caters to great wine and spirits connoisseurs, while the café employs the world's best coffee bean to create
            a variety of blends for the ultimate coffee enthusiast.
          </p>
          <!-- <button class="custom-btn">View more</button> -->
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/img/images/restaurant1.jpg" alt="restaurant img">
            </div>
            <div class="col-md-4">
              <img src="/assets/img/images/restaurant2.jpg" alt="restaurant img">
            </div>
            <div class="col-md-4">
              <img src="/assets/img/images/restaurant3.jpg" alt="restaurant img">
            </div>
          </div>
          <!-- <div class="flex-container">
            <div class="item">
              <img src="/assets/img/images/restaurant1.jpg" alt="restaurant img">
              <img src="/assets/img/images/restaurant2.jpg" alt="restaurant img">
            </div>
            <div class="item">
              <img src="/assets/img/images/restaurant3.jpg" alt="restaurant img">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid" id="hotel_facilities">
    <div class="hotel_facilities">
      <div class="row">
        <div class="col-md-3">
          <h1>Hotel Facilities</h1>
        </div>
        <div class="col-md-9" id="facility_det">
          <div class="flex-container">
            <div class="facility_circle">
              <div>
                <img src="/assets/img/laundry.png" alt="laudry img">
                <p>Swimming Pool</p>
              </div>
            </div>
            <div class="facility_desc">
              <p>Being an in-house visitor comes with the added benefit of being able to swim at any time of day or
                night. Outside guests must pay an extra fee to use the pool.
                Monday through Sunday (8 a.m. to 8 p.m.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="container-fluid" id="testimonials">
    <div class="section testimonial-box">
      <div class="header">
        <h1>People<br>Say</h1>
      </div>
      <div class="body">
        <img src="/assets/img/quote_start.png" alt="quote-start" class="quote-start">
        <img src="/assets/img/quote_end.png" alt="quote-end" class="quote-end">
        <p class="testimonial_text">
          For the days spent, it was a pleasant experience. It was a hit with my pals. I prefer the eating area. The
          rooms are still fantastic, but the cleanliness isn't up to par. The telephone should be cleaned thoroughly, as
          well as the headrest. The toilet needs to be updated.
        </p>
      </div>
      <div class="author">
        <img src="/assets/img/author_img.png" alt="testimonial author img">
        <p>Joy Stephens</p>
      </div>
    </div>
  </section>

  <footer class="footer" id="contact">
    <div class="row">
      <div class="col-md-4">
        <div class="links">
          <ul>
            <li>Help Desk</li>
            <li>About</li>
            <li>Gallery</li>
            <li>Site map</li>
            <li>Cookies</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="logo-container">
          <img src="/assets/img/logo.png" alt="site logo">
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-info">
          <address>
            22/24 kokumo avenue tomori estate opposite Nasfat, Sango Ota, Ota
          </address>
          <div class="phone">
            0703 711 2519
          </div>
          <div class="social-links">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>

        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="newsletter">
          <h4>newsletter</h4>
          <p>Subscribe to our email newsletter to receive updates and news.</p>
          <div class="form">
            <div class="input-group mb-3">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn newsletterBtn" type="button">Sign up</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="/assets/js/script.js"></script>
</body>

</html>